/* Los estilos de tu proyecto */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  

.navbar-header span{
    background-color:gray;
}

.navbar-header button{
    border: 1px solid gray;
}

.list li>a{
    color:#000;
}

.list li{
   text-align: center;
}

.image-big{
    margin-top: 20px;
    background-image: url(../assets/images/taxi.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.white{
    background-color: #fff;
}

.white-font{
    color: #fff;
    font-weight: 500;
}

.image-info{
    background-color: #f7b617;
    color:#fff;
    padding: 15px 30px;
}

.logo-info{
   margin-left: 7px;
   width: 85px;
 
}

.image-info p{
    font-size: 3.5rem;
}

.image-info button{
    font-size: 2rem;
    font-weight: 700;
}

.align{
    top:50%;
    position: relative;
    transform: translateY(-50%);
}

.image-mobile{
    outline: 1px solid #fff;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-mobile img {
    width: 250px;
}

.yellow{
    background-color: #f7b617;
}

.text-margin{
    margin-left: 20px;
}

.conduce-image{
    background-image: url(../assets/images/conduce.jpg);
    height: 360px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-conductor{
    background: rgba(0, 0, 0, 0.5);
    height: 360px;
    padding: 70px 20px;
}

.button-conductor{
    border: none;
}

@media (min-width: 768px) {
   .position{
      float: right;
   }
}